<ul class="navbar-nav ml-auto">
  <li class="nav-item" *ngFor="let menu of menuTop">
    <a class="nav-link" href="{{menu.Url}}">{{menu.Name}}
      <!-- <span class="sr-only">(current)</span> -->
    </a>
  </li>
</ul>