<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <app-menu-left></app-menu-left>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

      <!-- Main Here -->


      <div class="row">
        <div class="col-sm-6">
          <h3>{{formRole | uppercase}}</h3>
          <form #roleForm="ngForm" (ngSubmit)="onSubmit(roleForm)">
            <input type="hidden" name="ID" #ID="ngModel" [(ngModel)]="roleService.role.ID" />
            <div *ngIf="errorRoleName" class="alert alert-danger">{{errorRoleName}}</div>
            <div class="form-group">
              <label for="roledisplayname">Role Display Name
                <small class="text-danger">*</small>
              </label>
              <input type="text" class="form-control" id="roledisplayname" name="roledisplayname" #roledisplayname="ngModel" [(ngModel)]="roleService.role.RoleDisplayName"
                required autocomplete="false">

              <div *ngIf="roledisplayname.errors && (roledisplayname.dirty || roledisplayname.touched)" class="alert alert-danger">
                <div [hidden]="!roledisplayname.errors.required">Role Display Name is required.</div>
              </div>
            </div>

            <div class="form-group">
              <label for="rolename">Role Name
                <small class="text-danger">*</small>
              </label>
              <input type="text" class="form-control" id="rolename" name="rolename" required #rolename="ngModel" [(ngModel)]="roleService.role.RoleName"
                autocomplete="false">
              <div *ngIf="rolename.errors && (rolename.dirty || rolename.touched)" class="alert alert-danger">
                <div [hidden]="!rolename.errors.required">Role Name is required.</div>
              </div>
            </div>

            <div class="form-group">
              <label for="">Result role:</label> {{diagnostic}}
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!roleForm.form.valid" [innerHTML]="nameSubmit"></button>
            <button type="button" class="btn btn-secondary" (click)="resetForm(roleForm)">
              <i class="fa fa-eraser"></i> Reset</button>

          </form>
          <br>
          <div class="form-group">
            <input [(ngModel)]="username" [placeholder]="phusername" name="username" class="form-control" required>
            <p>Hello {{username}}!</p>
          </div>

        </div>
        <div class="col-sm-6">
          <h3>
            {{inforRole | lowercase}}
          </h3>
          <input (keyup)="onKey($event)" [(ngModel)]="searchText" name="searchText" class="form-control" placeholder="search text goes here">
          <br>
          <table class="table table-sm table-hover">
            <tr>
              <td>Role Display Name</td>
              <td>Role Role</td>
              <td>
              </td>
            </tr>
            <tr *ngFor="let role of roleService.roles">
              <td>{{role.ID}} - {{role.RoleDisplayName}}</td>
              <td>{{role.RoleName}}</td>
              <td>
                <a class="btn" (click)="showForEdit(role)" title="Edit">
                  <i class="fa fa-pencil-square-o"></i>
                </a>
                <a class="btn text-danger" (click)="onDelete(role.ID)" title="Delete">
                  <i class="fa fa-trash-o"></i>
                </a>
              </td>
            </tr>
          </table>
          <ul>
            <li *ngFor="let c of characters">
              {{c}}
            </li>
          </ul>
        </div>
      </div>

      <!-- End Main Here -->

    </main>
  </div>
</div>