<div class="container">
    <form class="form-horizontal" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Please Login</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <label class="sr-only" for="username">User Name</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" class="form-control" id="username" 
                        placeholder="User Name" #username="ngModel" required name="username" [(ngModel)]="loginService.user.UserName" autocomplete="false">
                    </div>
                </div>
            </div>
            <div class="col-md-3" *ngIf="username.errors && (username.dirty || username.touched)">
                <div class="form-control-feedback" [hidden]="!username.errors.required">
                    <span class="text-danger align-middle">
                        <i class="fa fa-close"></i> UserName unavalable!
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="password" class="form-control" id="password"
                               placeholder="Password" required #password="ngModel" [(ngModel)]="loginService.user.UserPassword">
                    </div>
                </div>
            </div>
            <div class="col-md-3" *ngIf="password.errors && (password.dirty || password.touched)">
                <div class="form-control-feedback" [hidden]="!password.errors.required">
                    <span class="text-danger align-middle">
                        <i class="fa fa-close"></i> Password unavalable!
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="padding-top: .35rem">
                <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                    <label class="form-check-label">
                        <input class="form-check-input" name="remember"
                               type="checkbox" >
                        <span style="padding-bottom: .15rem">Remember me</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 1rem">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Login</button>
                <a class="btn btn-link" href="/password/reset">Forgot Your Password?</a>
            </div>
            {{diagnostic}}
        </div>
    </form>
</div>