<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" *ngIf="isHome">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://www.infragistics.com/community/cfs-filesystemfile/__key/communityserver-components-secureimagefileviewer/featuredimages-f7d226abd59f475c9d224a79e3f0ec07-c9d345a0a4984f9f8681b0cf1a9c57dd-00000000000000000000000000000000/dev_2D00_tools_2D00_angular_2D00_cli.jpg_2D00_1140x350x2.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://www.infragistics.com/community/cfs-filesystemfile/__key/communityserver-components-secureimagefileviewer/featuredimages-f7d226abd59f475c9d224a79e3f0ec07-c9d345a0a4984f9f8681b0cf1a9c57dd-00000000000000000000000000000000/dev_2D00_tools_2D00_angular_2D00_cli.jpg_2D00_1140x350x2.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://www.infragistics.com/community/cfs-filesystemfile/__key/communityserver-components-secureimagefileviewer/featuredimages-f7d226abd59f475c9d224a79e3f0ec07-c9d345a0a4984f9f8681b0cf1a9c57dd-00000000000000000000000000000000/dev_2D00_tools_2D00_angular_2D00_cli.jpg_2D00_1140x350x2.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>