<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <app-menu-left></app-menu-left>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

      <!-- Main Here -->
      <div class="row">
        <div class="col-sm-12">
          Chat: 
          <p>{{chat?.Name}}</p>
          <p>{{chat?.Message}}</p>
          <p>{{abc}}</p>
        </div>
      </div>
      <!-- End Main Here -->

    </main>
  </div>
</div>