<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand" href="/">Angular Việt Hóa</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <app-menu-top></app-menu-top>
      </div>
  </div>
</nav>

<div class="container">

  <div class="row">

      <div class="col-md-12">
          <app-slide></app-slide>
      </div>

      <!-- Blog Entries Column -->
      <div class="col-md-8">

          <!-- Main Here -->

              <div class="well well-sm">
                <h3>
                  <strong>Contact Us</strong>
                </h3>
              </div>
          
              <div class="row">
                <div class="col-md-7">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.127867903133!2d106.6385342143507!3d10.801517392304486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175294f46ce189d%3A0x875b87cf82f8476d!2zMzY0IEPhu5luZyBIw7JhLCBwaMaw4budbmcgMTMsIFTDom4gQsOsbmgsIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2sbd!4v1520843594875"
                    width="100%" height="315" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
          
                <div class="col-md-5">
                  <h1>Snail mail</h1>
                  <address>
                    <strong>{{office.Address}}</strong>
                    <br> {{office.City}} - {{office.Nation}}
                    <br> {{office.Email}}
                    <br> {{office.Phone}}
                    <br> Viet Nam
                    <br>
                    <abbr title="Phone">P:</abbr> 0932221090
                  </address>
                </div>
              </div>
          
              <div class="row">
                <div class="col-md-12">
                  <h4>
                    <strong>Get in Touch</strong>
                  </h4>
                  <div class="alert alert-success" *ngIf="isAlert == true">
                    {{textAlert}}
                  </div>
                  <form class="form-horizontal" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
                    <div class="form-group">
                      <input type="text" class="form-control" name="Name" value="" placeholder="Name *" #Name="ngModel" [(ngModel)]="contact.Name"
                        required minlength="3">
                      <div *ngIf="Name.errors && (Name.dirty || Name.touched)" class="alert alert-danger">
                        <div [hidden]="!Name.errors.required">Name is required.</div>
                        <div [hidden]="!Name.errors.minlength">Name must be at least 3 characters long.</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="Email" value="" placeholder="E-mail *" #Email="ngModel" [(ngModel)]="contact.Email"
                        required>
                        <div *ngIf="Email.errors && (Email.dirty || Email.touched)" class="alert alert-danger">
                          <div [hidden]="!Email.errors.required">E-mail is required.</div>
                          <div [hidden]="!Email.errors.pattern">Invalid a mail format.</div>
                        </div>
                    </div>
                    <div class="form-group">
                      <input type="tel" class="form-control" name="Phone" value="" placeholder="Phone *" #Phone="ngModel" [(ngModel)]="contact.Phone"
                        required pattern="^[0-9]*$" minlength="8" maxlength="12">
                        <div *ngIf="Phone.errors && (Phone.dirty || Phone.touched)" class="alert alert-danger">
                          <div [hidden]="!Phone.errors.required">Phone is required.</div>
                          <div [hidden]="!Phone.errors.pattern">Valid a number.</div>
                          <div [hidden]="!Phone.errors.minlength">Phone must be at least 8 characters long.</div>
                        </div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" name="Subject" value="" placeholder="Subject *" #Subject="ngModel" [(ngModel)]="contact.Subject"
                        required minlength="3">
                        <div *ngIf="Subject.errors && (Subject.dirty || Subject.touched)" class="alert alert-danger">
                          <div [hidden]="!Subject.errors.required">Subject is required.</div>
                          <div [hidden]="!Subject.errors.minlength">Subject must be at least 3 characters long.</div>
                        </div>
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" name="Message" rows="3" placeholder="Message *" #Message="ngModel" [(ngModel)]="contact.Message" required
                        minlength="3"></textarea>
                        <div *ngIf="Message.errors && (Message.dirty || Message.touched)" class="alert alert-danger">
                          <div [hidden]="!Message.errors.required">Message is required.</div>
                          <div [hidden]="!Message.errors.minlength">Message must be at least 3 characters long.</div>
                        </div>
                    </div>
                    <button class="btn btn-default" [disabled]="!contactForm.form.valid" type="submit" name="button">
                      <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Submit
                    </button>
                  </form>
                </div>
              </div>
          

          <!-- End Main Here-->

      </div>

      <!-- Sidebar Widgets Column -->
          <div class="col-md-4">

              <!-- Search Widget -->
              <app-search></app-search>

              <!-- Categories Widget -->
              <app-category></app-category>

              <!-- Side Widget -->
              <div class="card my-4">
                  <h5 class="card-header">Side Widget</h5>
                  <div class="card-body">
                      You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                  </div>
              </div>

          </div>

      </div>
      <!-- /.row -->

  </div>

