<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
      <a class="navbar-brand" href="/">Angular Việt Hóa</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <app-menu-top></app-menu-top>
      </div>
  </div>
</nav>

<div class="container">

  <div class="row">

      <div class="col-md-12">
          <app-slide></app-slide>
      </div>

      <!-- Blog Entries Column -->
      <div class="col-md-8">

      <p>
        pagenotfound works!
      </p>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

          <!-- Search Widget -->
          <app-search></app-search>

          <!-- Categories Widget -->
          <app-category></app-category>

          <!-- Side Widget -->
          <div class="card my-4">
              <h5 class="card-header">Side Widget</h5>
              <div class="card-body">
                  You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
              </div>
          </div>

      </div>

  </div>
  <!-- /.row -->

</div>

