<app-header></app-header>

<div class="container-fluid">
  <div class="row sidebar-sticky">
    <app-menu-left></app-menu-left>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Bài viết</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
              <mat-button-toggle-group #group="matButtonToggleGroup">
                  <mat-button-toggle value="add" (click)="addAction(content)">
                    Add
                  </mat-button-toggle>
                  <mat-button-toggle value="list" (click)="listAction()">
                    List
                  </mat-button-toggle>
                  <mat-button-toggle value="histor">
                    History
                  </mat-button-toggle>
                  <mat-button-toggle value="justify" disabled>
                    <mat-icon>format_align_justify</mat-icon>
                  </mat-button-toggle>
                </mat-button-toggle-group>
          </div>
        </div>
      </div>

      <!-- Main Here -->

      <div class="row">
        <div class="col-sm-12" *ngIf="UIAction==0">

            <div class="example-header">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </div>
              
              <div class="example-container mat-elevation-z8">
              
                <mat-table [dataSource]="dataSource" matSort>
              
                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.ID}} </mat-cell>
                  </ng-container>
              
                  <!-- Progress Column -->
                  <ng-container matColumnDef="topic">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Topic </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Topic}} </mat-cell>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="number">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Number </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Number}} </mat-cell>
                  </ng-container>
              
                  <!-- Color Column -->
                  <ng-container matColumnDef="website">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Website </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Website}} </mat-cell>
                  </ng-container>
              
                  <!-- Color Column -->
                  <ng-container matColumnDef="user">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> User </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.User}} </mat-cell>
                  </ng-container>
              
                  <!-- Color Column -->
                  <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <button mat-mini-fab color="primary" (click)='onEdit(row)'><mat-icon>edit</mat-icon></button>
                      <button mat-mini-fab color="danger" id="fuck" (click)='onDelete(row, $event)'><mat-icon>delete</mat-icon></button>
                      <button mat-mini-fab color="warn" id="fuck" (click)='onView(row)'><mat-icon>link</mat-icon></button>
                    </mat-cell>
                  </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;">
                  </mat-row>
                </mat-table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>
              
            
        </div>

        <div class="col-sm-12" *ngIf="UIAction==1">
            <form #articleRequestForm="ngForm" (ngSubmit)="onSubmit(articleRequestForm)">
                <input type="hidden" name="ID" #id="ngModel" [(ngModel)]="articleRequest.ID" />
                <input type="hidden" name="ARPaymentID" #aRPaymentID="ngModel" [(ngModel)]="articleRequest.ARPaymentID" />
  
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-12">
                      <div *ngIf="errorsGeneric" class="alert alert-danger">{{errorsGeneric}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3">
                      <label for="topic">Topic
                        <small class="text-danger">*</small>
                      </label>
                    </div>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="topic" name="topic" #topic="ngModel" [(ngModel)]="articleRequest.Topic"
                        required autocomplete="false">
                      <div *ngIf="topic.errors && (topic.dirty || topic.touched)" class="alert alert-danger">
                        <div [hidden]="!topic.errors.required">Topic is required.</div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-3">
                      <label for="number">Number
                        <small class="text-danger">*</small>
                      </label>
                    </div>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="number" name="number" #number="ngModel" [(ngModel)]="articleRequest.Number"
                        required autocomplete="false">
                      <div *ngIf="number.errors && (number.dirty || number.touched)" class="alert alert-danger">
                        <div [hidden]="!number.errors.required">Number is required.</div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-3">
                      <label for="website">Website
                        <small class="text-danger">*</small>
                      </label>
                    </div>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="website" name="website" #website="ngModel" [(ngModel)]="articleRequest.Website" required
                        autocomplete="false">
                      <div *ngIf="website.errors && (website.dirty || website.touched)" class="alert alert-danger">
                        <div [hidden]="!website.errors.required">Website is required.</div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="form-group">
                    <div class="row">
                      <div class="col-lg-3">
                        <label for="note">Note
                          <small class="text-danger">*</small>
                        </label>
                      </div>
                      <div class="col-lg-9">
                        <textarea class="form-control" id="note" name="note" #note="ngModel" [(ngModel)]="articleRequest.Note"
                          required autocomplete="false"></textarea>
                        <div *ngIf="note.errors && (note.dirty || note.touched)" class="alert alert-danger">
                          <div [hidden]="!note.errors.required">Note is required.</div>
                        </div>
                      </div>
                    </div>
                  </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-3">
                      <label for="dateFrom">Date From
                        <small class="text-danger">*</small>
                      </label>
                    </div>
                    <div class="col-lg-9">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <div class="input-group">
                                <mat-form-field>
                                    <input required id="dateFrom" name="dateFrom" #dateFrom="ngModel" [(ngModel)]="articleRequest.DateFrom" matInput [matDatepicker]="picker" placeholder="Choose a date">
                                    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerFrom></mat-datepicker>
                                  </mat-form-field>
                              <!-- <input type="date" class="form-control col-sm-12" 
                                 #dateFrom="ngModel"> -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="dateFrom.errors && (dateFrom.dirty || dateFrom.touched)" class="alert alert-danger">
                        <div [hidden]="!dateFrom.errors.required">Date From is required.</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-3">
                      <label for="dateTo">Date To
                        <small class="text-danger">*</small>
                      </label>
                    </div>
                    <div class="col-lg-9">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <div class="input-group">
                              
                                <mat-form-field>
                                    <input required id="dateTo" name="dateTo" #dateTo="ngModel" [(ngModel)]="articleRequest.DateTo" matInput [matDatepicker]="picker" placeholder="Choose a date">
                                    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerTo></mat-datepicker>
                                  </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="dateTo.errors && (dateTo.dirty || dateTo.touched)" class="alert alert-danger">
                        <div [hidden]="!dateTo.errors.required">Date To is required.</div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-3">
                      <label for="user">User
                        <small class="text-danger">*</small>
                      </label>
                    </div>
                    <div class="col-lg-9">
                      <mat-form-field>
                        <mat-select id="aRUserID" name="aRUserID" #aRUserID="ngModel" [(ngModel)]="articleRequest.ARUserID" placeholder="">
                          <mat-option *ngFor="let user of users" [value]="user.ID">
                            {{user.Name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <div *ngIf="aRUserID.errors && (aRUserID.dirty || aRUserID.touched)" class="alert alert-danger">
                        <div [hidden]="!aRUserID.errors.pattern">User is required.</div>
                      </div>
                    </div>
                  </div>
                </div>
  
                
  
                <!--<div class="form-group">
                  <div class="row">
                    <div class="col-lg-3">
                      <label for="text">Text
                      </label>
                    </div>
                    <div class="col-lg-9">
                      <ck-editor class="form-control" id="text" name="text" #text="ngModel" [(ngModel)]="article.Text" skin="moono-lisa" language="vi"
                        [fullPage]="false"></ck-editor>
                    </div>
                  </div>
                </div> -->
  
                <button type="submit" [disabled]="!articleRequestForm.form.valid" class="btn btn-success" [innerHTML]="nameSubmit" data-dismiss="modal"></button>
                <button type="button" class="btn btn-secondary" (click)="resetForm(articleRequestForm)">
                  <i class="fa fa-eraser"></i> Reset</button>
  
              </form>
        </div>

        <div class="form-group">
          <label for="">Result: {{ diagnostic }}</label> 
        </div>

      </div>

      <!-- End Main Here -->

    </main>
  </div>
</div>