<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Angular Việt Hóa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <app-menu-top></app-menu-top>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row">

        <div class="col-md-12">
            <app-slide></app-slide>
        </div>

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <!-- Main Here -->

            <h1 class="my-4">Page Heading
                <small>Secondary Text</small>
            </h1>

            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="row" *ngFor="let article of articles">
                    <div class="col-md-4">
                        <img class="card-img-top" src="{{article.Teaser}}" alt="{{article.Name}}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body-custom">
                            <h2 class="card-title">{{article.Name}}</h2>
                            <p class="card-text">{{article.Description}}</p>
                            <a href="javascript:void(0)" (click)="onSelect(article)" class="btn btn-primary">Read More →</a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer text-muted">
                            {{article.DateRelease | date:'dd/MM/yyyy' }} by
                            <a href="#">Start Bootstrap</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <a class="page-link" href="#">← Older</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer →</a>
                </li>
            </ul>

            <!-- End Main Here-->

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <app-search></app-search>

            <!-- Categories Widget -->
            <app-category></app-category>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>