<div class="card my-4">
  <h5 class="card-header">Danh mục bài viết</h5>
  <div class="card-body">
    <div class="row">
        <div class="col-lg-6">
          <ul class="list-unstyled mb-0">
            <ng-template ngFor let-menu [ngForOf]="menuCategory" let-i="index" let-isEven="even">
              <li *ngIf="isEven">
                  <a href="/chu-de{{menu.Url}}">{{menu.Name}}</a>
              </li>
            </ng-template>
          </ul>
        </div>
      <div class="col-lg-6">
        <ul class="list-unstyled mb-0">
          <ng-template ngFor let-menu [ngForOf]="menuCategory" let-i="index" let-isOdd="odd">
            <li *ngIf="isOdd">
              <a href="/chu-de{{menu.Url}}">{{menu.Name}}</a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
</div>