<app-header></app-header>

<div class="container-fluid">
  <div class="row sidebar-sticky">
    <app-menu-left></app-menu-left>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Thanh toán</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
              <mat-button-toggle-group #group="matButtonToggleGroup">
                  <mat-button-toggle value="add" (click)="addAction(content)">
                    Add
                  </mat-button-toggle>
                  <mat-button-toggle value="list" (click)="listAction()">
                    List
                  </mat-button-toggle>
                  <mat-button-toggle value="histor">
                    History
                  </mat-button-toggle>
                  <mat-button-toggle value="justify" disabled>
                    <mat-icon>format_align_justify</mat-icon>
                  </mat-button-toggle>
                </mat-button-toggle-group>
          </div>
        </div>
      </div>

      <!-- Main Here -->

      <div class="row">
        <div class="col-sm-12" *ngIf="UIAction==0">
            <div class="example-header">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </div>
              
              <div class="example-container mat-elevation-z8">
              
                <mat-table [dataSource]="dataSource" matSort>
              
                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.ID}} </mat-cell>
                  </ng-container>
              
                  <!-- Progress Column -->
                  <ng-container matColumnDef="note">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Note </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Note}} </mat-cell>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-radio-group class="example-radio-group" [(ngModel)]="row.Status">
                            <mat-radio-button class="example-radio-button" *ngFor="let item of status" [value]="item.ID">
                              {{item.Name}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </mat-cell>
                  </ng-container>
              
                  <!-- Color Column -->
                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.User.Name}} </mat-cell>
                  </ng-container>
              
                  <!-- Color Column -->
                  <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                    <mat-cell *matCellDef="let row"> <button mat-raised-button color="primary" (click)='showInfo(row.ID)'>Primary</button> </mat-cell>
                  </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;">
                  </mat-row>
                </mat-table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>
        </div>

        <div class="col-sm-12" *ngIf="UIAction==1">
1
        </div>

        <div class="form-group">
          <label for="">Result: {{ diagnostic }}</label> 
        </div>

      </div>

      <!-- End Main Here -->

    </main>
  </div>
</div>