<app-header></app-header>

<div class="container-fluid">
  <div class="row sidebar-sticky">
    <app-menu-left></app-menu-left>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Thông tin chung</h1>
      </div>

      <!-- Main Here -->

      <div class="row">
        <div class="col-sm-6">

          <form #officeForm="ngForm" (ngSubmit)="onSubmit(officeForm)">
            <input type="hidden" name="ID" #id="ngModel" [(ngModel)]="office.ID">
            <div class="form-group">
              <div class="row">
                <div class="col-lg-12">
                  <div *ngIf="errorsGeneric" class="alert alert-danger">{{errorsGeneric}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <label for="name">Name
                    <small class="text-danger">*</small>
                  </label>
                </div>
                <div class="col-lg-9">
                  <input (keyup)="onKey($event)" type="text" class="form-control" id="name" name="name" #name="ngModel" [(ngModel)]="office.Name"
                    required autocomplete="false">
                  <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                    <div [hidden]="!name.errors.required">Name is required.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-lg-3">
                  <label for="company">Company
                    <small class="text-danger">*</small>
                  </label>
                </div>
                <div class="col-lg-9">
                  <input type="text" class="form-control" id="company" name="company" #company="ngModel" [(ngModel)]="office.Company" required
                    autocomplete="false">
                  <div *ngIf="company.errors && (company.dirty || company.touched)" class="alert alert-danger">
                    <div [hidden]="!company.errors.required">Company is required.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-lg-3">
                  <label for="address1">Address1
                    <small class="text-danger">*</small>
                  </label>
                </div>
                <div class="col-lg-9">
                  <input type="text" class="form-control" id="address1" name="address1" #address1="ngModel" [(ngModel)]="office.Address1" required
                    autocomplete="false">
                  <div *ngIf="address1.errors && (address1.dirty || address1.touched)" class="alert alert-danger">
                    <div [hidden]="!address1.errors.required">Address1 is required.</div>
                  </div>
                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="row">
                <div class="col-lg-3">
                  <label for="company">Address2
                    <small class="text-danger">*</small>
                  </label>
                </div>
                <div class="col-lg-9">
                  <input type="text" class="form-control" id="address2" name="address2" #address2="ngModel" [(ngModel)]="office.Address2" required
                    autocomplete="false">
                  <div *ngIf="address2.errors && (address2.dirty || address2.touched)" class="alert alert-danger">
                    <div [hidden]="!address2.errors.required">Address2 is required.</div>
                  </div>
                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="row">
                <div class="col-lg-3">
                  <label for="city">City
                    <small class="text-danger">*</small>
                  </label>
                </div>
                <div class="col-lg-9">
                  <input type="text" class="form-control" id="city" name="city" #city="ngModel" [(ngModel)]="office.City" required autocomplete="false">
                  <div *ngIf="city.errors && (city.dirty || city.touched)" class="alert alert-danger">
                    <div [hidden]="!city.errors.required">City is required.</div>
                  </div>
                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="row">
                <div class="col-lg-3">
                  <label for="nation">Nation
                    <small class="text-danger">*</small>
                  </label>
                </div>
                <div class="col-lg-9">
                  <input type="text" class="form-control" id="nation" name="nation" #nation="ngModel" [(ngModel)]="office.Nation" required
                    autocomplete="false">
                  <div *ngIf="nation.errors && (nation.dirty || nation.touched)" class="alert alert-danger">
                    <div [hidden]="!nation.errors.required">Nation is required.</div>
                  </div>
                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="row">
                <div class="col-lg-3">
                  <label for="phone">Phone
                    <small class="text-danger">*</small>
                  </label>
                </div>
                <div class="col-lg-9">
                  <input type="text" class="form-control" id="phone" name="phone" #phone="ngModel" [(ngModel)]="office.Phone" required autocomplete="false">
                  <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="alert alert-danger">
                    <div [hidden]="!phone.errors.required">Phone is required.</div>
                  </div>
                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="row">
                <div class="col-lg-3">
                  <label for="email">E-mail
                    <small class="text-danger">*</small>
                  </label>
                </div>
                <div class="col-lg-9">
                  <input type="text" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="office.Email" required autocomplete="false">
                  <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                    <div [hidden]="!email.errors.required">E-mail is required.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-3">
                  <label for="website">Website
                    <small class="text-danger">*</small>
                  </label>
                </div>
                <div class="col-lg-9">
                  <input type="text" class="form-control" id="website" name="website" #website="ngModel" [(ngModel)]="office.Website" required
                    autocomplete="false">
                  <div *ngIf="website.errors && (website.dirty || website.touched)" class="alert alert-danger">
                    <div [hidden]="!website.errors.required">Website is required.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-3">
                  <label for="copyright">Copyright
                    <small class="text-danger">*</small>
                  </label>
                </div>
                <div class="col-lg-9">
                  <input type="text" class="form-control" id="copyright" name="copyright" #copyright="ngModel" [(ngModel)]="office.Copyright"
                    required autocomplete="false">
                  <div *ngIf="copyright.errors && (copyright.dirty || copyright.touched)" class="alert alert-danger">
                    <div [hidden]="!copyright.errors.required">Copyright is required.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-3">
                  <label for="logo">Logo
                    <small class="text-danger">*</small>
                  </label>
                </div>
                <div class="col-lg-9">
                  <input type="text" class="form-control" id="logo" name="logo" #logo="ngModel" [(ngModel)]="office.Logo" required autocomplete="false">
                  <div *ngIf="logo.errors && (logo.dirty || logo.touched)" class="alert alert-danger">
                    <div [hidden]="!logo.errors.required">Logo is required.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-3">
                  <label for="description">Description
                    <small class="text-danger">*</small>
                  </label>
                </div>
                <div class="col-lg-9">
                  <textarea class="form-control" id="Description" name="Description" #Description="ngModel" [(ngModel)]="office.Description"
                    required autocomplete="false"></textarea>
                  <div *ngIf="Description.errors && (Description.dirty || Description.touched)" class="alert alert-danger">
                    <div [hidden]="!Description.errors.required">Description is required.</div>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" [disabled]="!officeForm.form.valid" class="btn btn-success" [innerHTML]="nameSubmit" data-dismiss="modal"></button>
          </form>
          <div class="form-group">
            <label for="">Result:</label> {{diagnostic}}
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-bell-o"></i> Thông tin</div>
            <div class="list-group list-group-flush small">
              <a class="list-group-item list-group-item-action" href="javascript:void(0)">
                <div class="media">
                  <strong>Name: </strong>{{office.Name}}
                </div>
              </a>
              <a class="list-group-item list-group-item-action" href="javascript:void(0)">
                <div class="media">
                  <strong>Company: </strong>&nbsp;{{office.Company}}
                </div>
              </a>
              <a class="list-group-item list-group-item-action" href="javascript:void(0)">
                <div class="media">
                  <strong>Address: </strong>{{office.Address1}} {{office.Address2}}
                </div>
              </a>
              <a class="list-group-item list-group-item-action" href="javascript:void(0)">
                <div class="media">
                  <strong>City: </strong>{{office.City}}
                </div>
              </a>
              <a class="list-group-item list-group-item-action" href="javascript:void(0)">
                <div class="media">
                  <strong>Nation: </strong>{{office.Nation}}
                </div>
              </a>
              <a class="list-group-item list-group-item-action" href="javascript:void(0)">
                <div class="media">
                  <strong>Phone: </strong>{{office.Phone}}
                </div>
              </a>
              <a class="list-group-item list-group-item-action" href="javascript:void(0)">
                <div class="media">
                  <strong>E-mail: </strong>{{office.Email}}
                </div>
              </a>
              <a class="list-group-item list-group-item-action" href="javascript:void(0)">
                <div class="media">
                  <strong>Website: </strong>{{office.Website}}
                </div>
              </a>
              <a class="list-group-item list-group-item-action" href="javascript:void(0)">
                <div class="media">
                  <strong>Copyright: </strong>{{office.Copyright}}
                </div>
              </a>
              <a class="list-group-item list-group-item-action" href="javascript:void(0)">
                <div class="media">
                  <strong>Logo: </strong>{{office.Logo}}
                </div>
              </a>
              <a class="list-group-item list-group-item-action" href="javascript:void(0)">
                <div class="media">
                  <strong>Description: </strong>{{office.Description}}
                </div>
              </a>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
        </div>
      </div>

      <!-- End Main Here -->

    </main>
  </div>
</div>