<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <app-menu-left></app-menu-left>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Người dùng</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

      <!-- Main Here -->

      <div class="row">
        <div class="col-sm-6">


        <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
          
          <div class="example-container mat-elevation-z8">
          
            <mat-table [dataSource]="dataSource" matSort>
          
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.ID}} </mat-cell>
              </ng-container>
          
              <!-- Progress Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Name}} </mat-cell>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Phone}} </mat-cell>
              </ng-container>
          
              <!-- Color Column -->
              <ng-container matColumnDef="role">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Role.RoleDisplayName}} </mat-cell>
              </ng-container>
          
              <!-- Color Column -->
              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button mat-button color="primary" (click)='onEdit(row)'><mat-icon>edit</mat-icon></button>
                  <button mat-button color="danger" id="fuck" (click)='onDelete(row)'><mat-icon>delete</mat-icon></button>
                </mat-cell>
              </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </mat-table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
              
        </div>
        <div class="col-sm-6">
          <h4>{{formUser}}</h4>
          <hr>
          <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
            <input type="hidden" name="ID" [(ngModel)]="user.ID" />

            <div class="form-group">
              <div class="row">
                <div class="col-lg-3">
                  <label for="name">Name
                    <small class="text-danger">*</small>
                  </label>
                </div>
                <div class="col-lg-9">
                  <input type="text" class="form-control" id="name" name="name" #name="ngModel" [(ngModel)]="user.Name" required
                    minlength="3" autocomplete="false">
                  <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                    <div [hidden]="!name.errors.required">Name is required.</div>
                    <div [hidden]="!name.errors.minlength">Name must be at least 3 characters long.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-lg-3">
                  <label for="phone">Phone
                    <small class="text-danger">*</small>
                  </label>
                </div>
                <div class="col-lg-9">
                  <input pattern="^[0-9]*$" required #phone="ngModel" type="text" class="form-control" id="phone" name="phone" [(ngModel)]="user.Phone"
                    autocomplete="false">
                  <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="alert alert-danger">
                    <div [hidden]="!phone.errors.required">Name is required.</div>
                    <div [hidden]="!phone.errors.pattern">Not a valid number!</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-lg-3">
                  <label for="email">E-mail
                    <small class="text-danger">*</small>
                  </label>
                </div>
                <div class="col-lg-9">
                  <input type="text" class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel" required
                    id="email" name="email" [(ngModel)]="user.Email" autocomplete="false">
                  <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                    <div [hidden]="!email.errors.required">E-mail is required.</div>
                    <div [hidden]="!email.errors.pattern">Incorrect mail format!</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-lg-3">
                  <label for="username">User Name
                    <small class="text-danger">*</small>
                  </label>
                </div>
                <div class="col-lg-9">
                  <input type="text" class="form-control" id="username" #username="ngModel" required minlength="3" name="username" [(ngModel)]="user.UserName"
                    autocomplete="false">
                  <div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger">
                    <div [hidden]="!username.errors.required">UserName is required.</div>
                    <div [hidden]="!username.errors.minlength">UserName must be at least 3 characters long.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-lg-3">
                  <label for="userpassword">Password
                    <small class="text-danger">*</small>
                  </label>
                </div>
                <div class="col-lg-9">
                  <input type="password" #password="ngModel" required minlength="3" class="form-control" id="userpassword" name="userpassword"
                    [(ngModel)]="user.UserPassword" autocomplete="false">
                  <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
                    <div [hidden]="!password.errors.required">Password is required.</div>
                    <div [hidden]="!password.errors.minlength">Password must be at least 3 characters long.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-3">
                  <label for="userroleid">Role
                    <small class="text-danger">*</small>
                  </label>
                </div>
                <div class="col-lg-9">
                  <select id="userroleid" name="userroleid" [(ngModel)]="user.UserRoleID" #selectElem (change)="setUserRoleID(selectElem.value)"
                    class="form-control">
                    <option value="-1">
                      -- Select role for User --
                    </option>
                    <option *ngFor="let role of roleService.roles" [value]="role.ID">
                      {{role.RoleName}}
                    </option>
                  </select>
                  <div *ngIf="errorUserRole == true" class="alert alert-danger">
                    <div *ngIf="errorUserRole">Need to choose a valid.</div>
                  </div>
                </div>
              </div>
            </div>

            <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-success" [innerHTML]="nameSubmit"></button>
            <button type="button" class="btn btn-secondary" (click)="resetForm(userForm)">
              <i class="fa fa-eraser"></i> Reset</button>

          </form>

        </div>

        <div class="form-group">
          <label for="">Result user:</label> {{diagnostic}}
        </div>

      </div>
      <!-- End Main Here -->

    </main>
  </div>
</div>