/*!
 * Start Bootstrap - Blog Home (https://startbootstrap.com/template-overviews/blog-home)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-home/blob/master/LICENSE)
 */

  /* body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
} */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@media (min-width: 576px)
{
  .modal-dialog {
      max-width: 815px;
      margin: 1.75rem auto;
  }
}