<app-header></app-header>

<div class="container-fluid">
  <div class="row sidebar-sticky">
    <app-menu-left></app-menu-left>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Menu</h1>
        <input (keyup)="onKeySearch($event)" class="form-control col-md-3" type="text" placeholder="Search" [(ngModel)]="searchText"
          aria-label="Search">
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-success" (click)="add(content)">Add</button>
          </div>
        </div>
      </div>

      <!-- Main Here -->

      <div class="row">
        <div class="col-sm-12">
          <ul class="list-root">
            <li class="header">
              <div class="row">
                <div class="col-sm-3">
                  Name
                </div>
                <div class="col-sm-3">
                  Url
                </div>
                <div class="col-sm-3">
                  Level
                </div>
                <div class="col-sm-3">
                </div>
              </div>
            </li>
            <li *ngFor="let menu of (menuList | FilterMenuRoot)">
              <div class="row">
                <div class="col-sm-3">
                  {{menu.Name}}
                </div>
                <div class="col-sm-3">
                  {{menu.Url}}
                </div>
                <div class="col-sm-3">
                  {{menu.Level}} 
                </div>
                <div class="col-sm-3">
                  <a class="btn" title="Order Up" (click)="putNodeOrder(menu,true)">
                    <i class="fa fa-arrow-up"></i>
                  </a>
                  <a class="btn" title="Order Down" (click)="putNodeOrder(menu,false)">
                    <i class="fa fa-arrow-down"></i>
                  </a>
                  <a class="btn" (click)="showForEdit(menu, content)" title="Edit">
                    <i class="fa fa-pencil-square-o"></i>
                  </a>
                  <a class="btn text-danger" (click)="onDelete(menu.ID)" title="Delete">
                    <i class="fa fa-trash-o"></i>
                  </a>
                  <a *ngIf="sumMenusByParent(menu.ParentID) > 0" class="btn text-primary" (click)="aaa = !aaa" [attr.aria-expanded]="!aaa" aria-controls="collapseExample"
                    title="Has Child">
                    <i class="fa fa-{{aaa ? 'plus':'minus'}}-circle"></i>
                  </a>
                </div>
              </div>
              <ul id="collapseExample" [ngbCollapse]="aaa">
                <li *ngFor="let menu of (menuList | FilterMenu:menu.ID)">
                  <div class="row">
                    <div class="col-sm-3">
                      {{menu.Name}}
                    </div>
                    <div class="col-sm-3">
                      {{menu.Url}}
                    </div>
                    <div class="col-sm-3">
                      {{menu.Level}}
                    </div>
                    <div class="col-sm-3">
                      <a class="btn" title="Order Up" (click)="putNodeOrder(menu,true)">
                        <i class="fa fa-arrow-up"></i>
                      </a>
                      <a class="btn" title="Order Down" (click)="putNodeOrder(menu,false)">
                        <i class="fa fa-arrow-down"></i>
                      </a>
                      <a class="btn" (click)="showForEdit(menu, content)" title="Edit">
                        <i class="fa fa-pencil-square-o"></i>
                      </a>
                      <a class="btn text-danger" (click)="onDelete(menu.ID)" title="Delete">
                        <i class="fa fa-trash-o"></i>
                      </a>
                    </div>
                  </div>
                  <ul>
                    <li *ngFor="let menu of (menuList | FilterMenu:menu.ID)">
                      <div class="row">
                        <div class="col-sm-3">
                          {{menu.Name}}
                        </div>
                        <div class="col-sm-3">
                          {{menu.Url}}
                        </div>
                        <div class="col-sm-3">
                          {{menu.Level}}
                        </div>
                        <div class="col-sm-3">
                          <a class="btn" title="Order Up" (click)="putNodeOrder(menu,true)">
                            <i class="fa fa-arrow-up"></i>
                          </a>
                          <a class="btn" title="Order Down" (click)="putNodeOrder(menu,false)">
                            <i class="fa fa-arrow-down"></i>
                          </a>
                          <a class="btn" (click)="showForEdit(menu, content)" title="Edit">
                            <i class="fa fa-pencil-square-o"></i>
                          </a>
                          <a class="btn text-danger" (click)="onDelete(menu.ID)" title="Delete">
                            <i class="fa fa-trash-o"></i>
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">CRUD of Menu</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #menuForm="ngForm" (ngSubmit)="onSubmit(menuForm)">
              <input type="hidden" name="ID" [(ngModel)]="menu.ID" />

              <div class="form-group">
                <div class="row">
                  <div class="col-lg-12">
                    <div *ngIf="errorsGeneric" class="alert alert-danger">{{errorsGeneric}}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <label for="name">Name
                      <small class="text-danger">*</small>
                    </label>
                  </div>
                  <div class="col-lg-9">
                    <input (keyup)="onKey($event)" type="text" class="form-control" id="name" name="name" #name="ngModel" [(ngModel)]="menu.Name"
                      required autocomplete="false">
                    <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                      <div [hidden]="!name.errors.required">Name is required.</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-lg-3">
                    <label for="url">Url
                      <small class="text-danger">*</small>
                    </label>
                  </div>
                  <div class="col-lg-9">
                    <input (keyup)="onKeyUrl($event)" type="text" class="form-control" id="url" name="url" #url="ngModel" [(ngModel)]="menu.Url"
                      maxlength="75" required autocomplete="false">
                    <div *ngIf="url.errors && (url.dirty || url.touched)" class="alert alert-danger">
                      <div [hidden]="!url.errors.required">Url is required.</div>
                      <div [hidden]="!url.errors.maxlength">Maximum Url is 75 characters.</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-lg-3">
                    <label for="level">Level
                      <small class="text-danger">*</small>
                    </label>
                  </div>
                  <div class="col-lg-9">
                    <input readonly="readonly" type="text" class="form-control" id="level" name="level" #level="ngModel" [(ngModel)]="menu.Level"
                      pattern="^[0-9]*$" required autocomplete="false">
                    <div *ngIf="level.errors && (level.dirty || level.touched)" class="alert alert-danger">
                      <div [hidden]="!level.errors.required">Level is required.</div>
                      <div [hidden]="!level.errors.pattern">Not a valid number.</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-lg-3">
                    <label for="parentID">ParentID
                      <small class="text-danger">*</small>
                    </label>
                  </div>
                  <div class="col-lg-9">
                    <select id="parentID" name="parentID" [(ngModel)]="menu.ParentID" class="form-control">
                      <option value="0">
                        Root
                      </option>
                      <option *ngFor="let menu of menuList" [value]="menu.ID">
                        {{menu.Level == 1 ? '-' : (menu.Level == 2 ? '---' : (menu.Level == 3 ? '------' : ''))}} {{menu.Name}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-lg-3">
                    <label for="nodeOrder">NodeOrder
                      <small class="text-danger">*</small>
                    </label>
                  </div>
                  <div class="col-lg-9">
                    <input readonly="readonly" type="text" class="form-control" id="nodeOrder" name="nodeOrder" #nodeOrder="ngModel" [(ngModel)]="menu.NodeOrder"
                      pattern="^[0-9]*$" required autocomplete="false">
                    <div *ngIf="nodeOrder.errors && (nodeOrder.dirty || nodeOrder.touched)" class="alert alert-danger">
                      <div [hidden]="!nodeOrder.errors.required">NodeOrder is required.</div>
                      <div [hidden]="!nodeOrder.errors.pattern">Not a valid number.</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-lg-3">
                    <label for="text">Text
                    </label>
                  </div>
                  <div class="col-lg-9">
                    <ck-editor class="form-control" id="text" name="text" #text="ngModel" [(ngModel)]="menu.Text" skin="moono-lisa" language="vi"
                      [fullPage]="false"></ck-editor>
                  </div>
                </div>
              </div>

              <button type="submit" [disabled]="!menuForm.form.valid" class="btn btn-success" [innerHTML]="nameSubmit" data-dismiss="modal"></button>
              <button type="button" class="btn btn-secondary" (click)="resetForm(menuForm)">
                <i class="fa fa-eraser"></i> Reset</button>

            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
          </div>
        </ng-template>

        <div class="form-group">
          <label for="">Result:</label> {{diagnostic}}
        </div>

      </div>

      <!-- End Main Here -->

    </main>
  </div>
</div>