.card-body-custom{
    padding-bottom: 1.25rem;
}

h1.my-4 small{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.margin-five{
    margin-top: 5% !important;
    margin-bottom: 5% !important;
}

.demo-image [class^="col-"] {
    margin-bottom: 65px;
}

.demo-image img{
    max-width: 100%;
    height: auto;
}

.demo-des{
    font-size: 1em;
}

.demo-link {
    margin: 25px 0 0;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
    display: block;
}