<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Angular Việt Hóa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <app-menu-top></app-menu-top>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row">

        <div class="col-md-12">
            <app-slide></app-slide>
        </div>

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">Angular Tutor
                <small>Tổng hợp các bài viết liên quan đến Angular để cho Dev hiểu và làm một cách tốt nhất vì 1 triệu Dev từ Việt
                    Nam vươn ra thế giới. (Chú ý: Bạn nên đọc bằng English nha. Rồi nếu thật sự vẫn ko hiểu thì đọc ỏ đây)</small>
            </h1>

            <!-- Blog Post -->
            <div class="mb-4">
                <div class="row margin-five demo-image">
                    <div class="col-md-4 col-sm-6 text-center" *ngFor="let article of articles">
                        <a href="javascript:void(0)" (click)="onSelect(article)">
                            <img src="{{article.Teaser}}" alt="{{article.Name}}">
                        </a>
                        <h2 class="demo-link">
                            <a href="javascript:void(0)" (click)="onSelect(article)">{{article.Name}}</a>
                        </h2>
                        <p class="demo-des">{{article.Description}}
                            <br>
                            <a href="javascript:void(0)" (click)="onSelect(article)" class="demo-link">Xem chi tiết</a>
                            <small>{{article.DateRelease | date:'dd/MM/yyyy' }} by ...</small>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <app-search></app-search>

            <!-- Categories Widget -->
            <app-category></app-category>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Tag từ khóa</h5>
                <div class="card-body">
                    #angularjs, #angular 2, #angular 4
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Tag từ khóa</h5>
                <div class="card-body">
                    <ul>
                        <li>
                            <a href="https://angular.io/tutorial" target="_blank" rel="nofollow">Angular Tutorial</a>
                        </li>
                        <li>
                            
                                <a href="https://material.angular.io/" target="_blank" rel="nofollow">Material Angular</a>
                        </li>
                        <li>
                            
                                <a href="https://ng-bootstrap.github.io/#/home" target="_blank" rel="nofollow">Bootstrap Angular</a>
                        </li>
                        <li>
                            
                                <a href="https://blog.angular.io/" target="_blank" rel="nofollow">Blog about Angular</a>
                        </li>
                        <li>
                            <a href="https://regex101.com/" target="_blank" rel="nofollow">Regex101 in pattern Angular</a>
                        </li>
                        <li>
                            <a href="https://www.primefaces.org/primeng/#/" target="_blank" rel="nofollow"></a>
                        </li>
                        <li>
                            <a href="https://www.npmjs.com/package/ng2-signalr" target="_blank" rel="nofollow">SignalR in Angular</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>