.list-root{
    list-style: none;
    padding: 0;
}
.list-root .header{
    font-weight: bold;
}
.list-root .row{
    border-bottom: 1px solid #dee2e6;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
.list-root ul{
    list-style: none;
}
.list-root ul .row{
    border-bottom: 1px solid #11882f69;
}
.list-root .row:hover, .list-root ul .row:hover{
    border-bottom: 1px solid #bf151569;
}