<app-header></app-header>

<div class="container-fluid">
  <div class="row sidebar-sticky">
    <app-menu-left></app-menu-left>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Bài viết</h1>
        <input (keyup)="onKeySearch($event)" class="form-control col-md-3" type="text" placeholder="Search" [(ngModel)]="searchText"
          aria-label="Search">
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-success" (click)="add(content)">Add</button>
          </div>
        </div>
      </div>

      <!-- Main Here -->

      <div class="row">
        <div class="col-sm-12">
          <ul class="list-root">
            <li class="header">
              <div class="row">
                <div class="col-sm-3">
                  ID
                </div>
                <div class="col-sm-3">
                  Name
                </div>
                <div class="col-sm-3">
                  Url
                </div>
                <div class="col-sm-3">
                </div>
              </div>
            </li>
            <li *ngFor="let article of articles | paginate: { itemsPerPage: 10, currentPage: p }">
              <div class="row">
                <div class="col-sm-1">
                  {{article.ID}}
                </div>
                <div class="col-sm-4">
                  {{article.Name}}
                </div>
                <div class="col-sm-4">
                  {{article.Url}}
                </div>
                <div class="col-sm-3">
                  <a class="btn" title="Order Up" (click)="putNodeOrder(article,true)">
                    <i class="fa fa-arrow-up"></i>
                  </a>
                  <a class="btn" title="Order Down" (click)="putNodeOrder(article,false)">
                    <i class="fa fa-arrow-down"></i>
                  </a>
                  <a class="btn" (click)="showForEdit(article, content)" title="Edit">
                    <i class="fa fa-pencil-square-o"></i>
                  </a>
                  <a class="btn text-danger" (click)="onDelete(article.ID)" title="Delete">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </div>
              </div>
            </li>
          </ul>
          <pagination-controls (pageChange)="p = $event" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Trước" nextLabel="Sau"
            screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
        </div>

        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">CRUD of Article</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #articleForm="ngForm" (ngSubmit)="onSubmit(articleForm)">
              <input type="hidden" name="ID" #id="ngModel" [(ngModel)]="article.ID" />

              <div class="form-group">
                <div class="row">
                  <div class="col-lg-12">
                    <div *ngIf="errorsGeneric" class="alert alert-danger">{{errorsGeneric}}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <label for="name">Name
                      <small class="text-danger">*</small>
                    </label>
                  </div>
                  <div class="col-lg-9">
                    <input (keyup)="onKey($event)" type="text" class="form-control" id="name" name="name" #name="ngModel" [(ngModel)]="article.Name"
                      required autocomplete="false">
                    <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                      <div [hidden]="!name.errors.required">Name is required.</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-lg-3">
                    <label for="url">Url
                      <small class="text-danger">*</small>
                    </label>
                  </div>
                  <div class="col-lg-9">
                    <input (keyup)="onKeyUrl($event)" type="text" class="form-control" id="url" name="url" #url="ngModel" [(ngModel)]="article.Url"
                      maxlength="75" required autocomplete="false">
                    <div *ngIf="url.errors && (url.dirty || url.touched)" class="alert alert-danger">
                      <div [hidden]="!url.errors.required">Url is required.</div>
                      <div [hidden]="!url.errors.maxlength">Maximum Url is 75 characters.</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-lg-3">
                    <label for="level">Teaser
                      <small class="text-danger">*</small>
                    </label>
                  </div>
                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="teaser" name="teaser" #teaser="ngModel" [(ngModel)]="article.Teaser" required
                      autocomplete="false">
                    <div *ngIf="teaser.errors && (teaser.dirty || teaser.touched)" class="alert alert-danger">
                      <div [hidden]="!teaser.errors.required">Teaser is required.</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-lg-3">
                    <label for="dateRelease">Date Release
                      <small class="text-danger">*</small>
                    </label>
                  </div>
                  <div class="col-lg-9">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <div class="input-group">
                            <input type="date" class="form-control col-sm-12" required id="dateRelease" name="dateRelease"
                              [(ngModel)]="article.DateRelease" #dateRelease="ngModel">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="dateRelease.errors && (dateRelease.dirty || dateRelease.touched)" class="alert alert-danger">
                      <div [hidden]="!dateRelease.errors.required">Date Release is required.</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-lg-3">
                    <label for="parentID">ParentID
                      <small class="text-danger">*</small>
                    </label>
                  </div>
                  <div class="col-lg-9">
                    <select id="parentID" pattern="^[1-9][0-9]*$" name="parentID" #parentID="ngModel" [(ngModel)]="article.ParentID" class="form-control">
                      <option value="-1">
                        -- Chọn danh mục --
                      </option>
                      <option *ngFor="let menu of menuOfArticle" [value]="menu.ID">
                        {{menu.Name}}
                      </option>
                    </select>
                    <div *ngIf="parentID.errors && (parentID.dirty || parentID.touched)" class="alert alert-danger">
                      <div [hidden]="!parentID.errors.pattern">ParentID is required.</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-lg-3">
                    <label for="description">Description
                      <small class="text-danger">*</small>
                    </label>
                  </div>
                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="description" name="description" #description="ngModel" [(ngModel)]="article.Description"
                      required autocomplete="false">
                    <div *ngIf="description.errors && (description.dirty || description.touched)" class="alert alert-danger">
                      <div [hidden]="!description.errors.required">Description is required.</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-lg-3">
                    <label for="text">Text
                    </label>
                  </div>
                  <div class="col-lg-9">
                    <ck-editor class="form-control" id="text" name="text" #text="ngModel" [(ngModel)]="article.Text" skin="moono-lisa" language="vi"
                      [fullPage]="false"></ck-editor>
                  </div>
                </div>
              </div>

              <button type="submit" [disabled]="!articleForm.form.valid" class="btn btn-success" [innerHTML]="nameSubmit" data-dismiss="modal"></button>
              <button type="button" class="btn btn-secondary" (click)="resetForm(articleForm)">
                <i class="fa fa-eraser"></i> Reset</button>

            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
          </div>
        </ng-template>

        <div class="form-group">
          <label for="">Result:</label> {{diagnostic}}
        </div>

      </div>

      <!-- End Main Here -->

    </main>
  </div>
</div>