<div class="card my-4">
  <h5 class="card-header">Tìm kiếm</h5>
  <div class="card-body">
    <div class="input-group">
      <input (keyup)="onKey($event)" [(ngModel)]="searchArticle" name="searchArticle" class="form-control" placeholder="tìm kiếm ở đây ...">
    </div>
    <div class="row">
      <ul>
        <li *ngFor="let article of articles">
          <a href="/bai-viet{{article.Url}}">{{article.Name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>